# General
[Bb]uild/
_clang-format
.clang-format

# Visual Studio Code
.vscode/
.settings/
.cproject
.project

# Visual Studio
x64/
x86/
[Ww][Ii][Nn]32/
*.suo
*.user

# CLion
cmake-build-*/

# Eclipse
[Dd]ebug/
[Rr]elease/

# Python
__pycache__
_skbuild
